@media only screen and (max-width: 767px) {
    div.hook-fon {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .hook-fon img {
        width: 250%;
        margin-left: -74%
    }

    .hook-content img {
        max-height: 120px;
    }

    .hook-content {
        margin-top: -345vw;
        /*margin-top: -1420px;*/

    }

    .hook-images {
        margin-top: 10vw;
    }

    table {
        font-size: 17px;
        font-family: 'Comfortaa', cursive;
        font-weight: 300;
        width: 80vw;
    }

    .ps p {
        font-size: medium;
    }
}

@media only screen and (min-width: 768px) {
    .hook-fon img {
        width: 100%;
    }

    .hook-content {
        position: absolute;
        top: 300px;
        margin: 10px 0;
    }

    .hook-content img {
        max-height: 300px;
        margin-top: 3vw;

    }

    table {
        font-size: 20px;
        font-family: 'Comfortaa', cursive;
        font-weight: 300;
        width: 550px;
    }

    .ps p {
        font-size: x-large;
    }
}


/*general*/
.hook-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hook-images, .ps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.hookah-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: center;
}

.hook-content img {
    width: auto;
    border-radius: 10%;
    box-shadow: rgb(58, 1, 1) 0px 20px 30px -10px;
}

th {
    border-bottom: 1px solid #bcc0c0;
}
